<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @if (ViewBag.Title != null)
    {
        <title>@ViewBag.Title - Application</title>
    }
    else
    {
        <title>Application</title>
    }

    <link rel="stylesheet" href="~/css/main-styles.css" />

</head>

<body>

    <nav class="main-navbar">

        <a asp-controller="Main" asp-action="Index">
            Home
        </a>

        @if (User.Identity.IsAuthenticated)
        {
            <a asp-controller="Messaging" asp-action="Users">
                Users
            </a>

            <div>
                Logged in as @User.Identity.Name
            </div>

            <form asp-controller="Account" asp-action="LogOut" method="post">
                @Html.AntiForgeryToken()
                <input type="submit" value="Log Out" class="submit-link" />
            </form>
        }
        else
        {
            <a asp-controller="Account" asp-action="Login">
                Login
            </a>
        }

    </nav>

    <main role="main" class="page-content">
        @RenderBody()
    </main>

    <footer class="page-footer">

        <hr />

        <div class="page-footer-content-container ">
            <a asp-controller="Main" asp-action="Privacy">
                Privacy Policy
            </a>

            <div>
                &copy; @DateTime.UtcNow.Year Ramon's Instant Messaging App
            </div>

        </div>

    </footer>


    <script defer src="~/js/main-script.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>